/*
Developed under a Research grant from NMEICT, MHRD
by
Amrita CREATE (Center for Research in Advanced Technologies for Education),
VALUE (Virtual Amrita Laboratories Universalizing Education)
Amrita University, India 2009 - 2013
http://www.amrita.edu/create
*/


#specWrap {
	height: 470px;
	width: 550px;
	position: relative;
}
#myCanvas {
	height: 470px;
	width: 550px;
}

.divTop{
	position: absolute;
	left:10px;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	height: 20px;
	width: 100px;
	
}
	

#tooltip {
	height: 51px;
	width: 150px;
	position: absolute;
	left: 250px;
	top: 0px;
}
#tooltipText {
	height: 51px;
	width: 145px;
	position: absolute;
	left: 255px;
	top:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	
}
#faceA{
	position: absolute;
	top:28px;
	left:1.5px;
	
}

#faceB{
	position: absolute;
	top:0px;
	left:2px;
	
}
#faceC{
	position: absolute;
	top:0px;
	left:128px;
	
}

#cubeface {
	position: absolute;
	top:72px;
	left:200px;
	/*top:20%;
	left:30%;*/
}

